@media screen and (min-width: 421px), screen and (max-width: 768px) {
  body {
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #lezioni .row,
  #why .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }

  #lezioni,
  #why {
    background-color: #f2f2cd;
  }

  #lezioni .row > .left,
  #lezioni .row > .right {
    width: 100%;
  }

  #lezioni > .row > div {
    padding: 15px 0;
  }
  #steps > .row > div.left,
  #steps > .row > div.central,
  #steps > .row > div.right {
    width: calc(100% / 3 - 30px);
    padding: 15px;
  }

  #why > .row > div.first,
  #why > .row > div.second,
  #why > .row > div.third {
    margin-top: 15px;
  }
  #why > .row > div.third {
    margin-bottom: 15px;
  }
  #why > .row > div.first,
  #why > .row > div.second {
    border-bottom: 3px solid #5b5b5b;
  }
  hr {
    display: none;
  }
}
