@media screen and (max-width: 420px) {
  body > * {
    overflow-x: hidden;
  }
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }

  #steps > div.row > div.left,
  #steps > div.row > div.central,
  #steps > div.row > div.right {
    width: 100%;
  }

  #lezioni > .row > div,
  #steps > .row > div {
    padding: 15px 0;
  }
}
