@media screen and (max-width: 420px) {
  body {
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }

  #lezioni,
  #why {
    background-color: #f2f2cd;
  }

  #lezioni .row > .left,
  #lezioni .row > .right,
  #steps .row > .left,
  #steps .row > .central,
  #steps .row > .right {
    width: 100%;
  }

  #lezioni > .row > div,
  #steps > .row > div {
    padding: 15px 0;
  }

  #why > .row > div.first,
  #why > .row > div.second,
  #why > .row > div.third {
    margin-top: 15px;
  }
  #why > .row > div.third {
    margin-bottom: 15px;
  }
  hr {
    margin-top: 0;
  }
}
